body {
  background-color:#ffffffc7;
}

table {
  font-family: arial, sans-serif;
  font-size: 35px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

div {
  text-align: center;
  padding: 10px;
}

input {
  font-size: 30px;
}

#addButton {
  padding: 10px 16px;
  font-family: arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0px 30px;
}

button {
  padding: 8px 10px;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 0px 75px;
}

#SumA {
  font-weight: bold;
  border-top: hidden;
  font-size: 40px;
}

#SumB {
  font-weight: bold;
  border-top: hidden;
  font-size: 40px;
}